{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
    .panel:hover {
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>{{ 'frontpage.member.title'|trans({}, 'UnisystemFrontpageBundle') }}</h1>
                </div>
            </div>
        </div>
        {% include 'UnisystemFrontpageBundle:Page:member.list.html.twig' %}
    </div>    
{% endblock %}
