{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Material Mayor</h1>
                </div>
            </div>
            {% for resource in resources %}
            <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <img class="img-rounded img-responsive" src="{{ vich_uploader_asset(resource, 'file')|imagine_filter('resource_photography_medium') }}" alt="...">
                    <div class="caption">
                        {% if resource.name %}<h2>{{ resource.name }}</h2>{% endif %}
                        {% if resource.description %}<p>{{ resource.description }}</p>{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
